header {
    background-color: black;
    color: white;
}

footer {
    background-color: darkgray;
    color: black;
    margin-top: 50%;
}

ul {
    background-color: rgb(223, 208, 187);
    color: darkblue;
    list-style-type: none;
    float: left;
}

li {
    display: inline-block;
    background-color: rgb(177, 169, 148);
    border: 1px solid black;
    padding: 20px;
}